.App {
    margin: 30px;
    font-size: 30px;
} 

.open_modal {
    font-size: 30px;
    width: 300px;
}

.users {
    width: 300px;
}

.remove {
    font-size: 25px;
    position: fixed;
    left: 250px;
    background-color: rgb(219, 212, 203);
}